-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: vite_et_gourmand
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `commandes`
--

DROP TABLE IF EXISTS `commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `date_prestation` date NOT NULL,
  `heure_prestation` time NOT NULL,
  `adresse_prestation` text NOT NULL,
  `ville` varchar(100) NOT NULL,
  `nb_personnes` int(11) NOT NULL,
  `prix_total` decimal(10,2) NOT NULL,
  `statut` varchar(50) DEFAULT 'en attente',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `commandes_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes`
--

LOCK TABLES `commandes` WRITE;
/*!40000 ALTER TABLE `commandes` DISABLE KEYS */;
/*!40000 ALTER TABLE `commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dishes`
--

DROP TABLE IF EXISTS `dishes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dishes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(191) NOT NULL,
  `type` enum('entree','plat','dessert') NOT NULL,
  `allergenes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_vegan` tinyint(1) DEFAULT 0,
  `is_gluten_free` tinyint(1) DEFAULT 0,
  `description` text DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dishes`
--

LOCK TABLES `dishes` WRITE;
/*!40000 ALTER TABLE `dishes` DISABLE KEYS */;
INSERT INTO `dishes` (`id`, `nom`, `type`, `allergenes`, `created_at`, `is_vegan`, `is_gluten_free`, `description`, `image_url`) VALUES (1,'Foie Gras Maison au Sauternes','entree','Sulfites, Lait','2026-02-18 02:54:37',0,0,NULL,'/Vite-et-gourmand/interface_frontend/ressources/images/dishes/foie_gras_maison.png');
INSERT INTO `dishes` (`id`, `nom`, `type`, `allergenes`, `created_at`, `is_vegan`, `is_gluten_free`, `description`, `image_url`) VALUES (2,'Saumon Gravlax et Blinis','entree','Poisson, Gluten, Oeuf','2026-02-18 02:54:37',0,0,NULL,'/Vite-et-gourmand/interface_frontend/ressources/images/dishes/saumon_gravlax_blinis.png');
INSERT INTO `dishes` (`id`, `nom`, `type`, `allergenes`, `created_at`, `is_vegan`, `is_gluten_free`, `description`, `image_url`) VALUES (3,'Velout├® de Ch├ótaignes aux Truffes','entree','Fruits ├á coque','2026-02-18 02:54:37',1,1,NULL,'/Vite-et-gourmand/interface_frontend/ressources/images/dishes/veloute_chataignes.png');
/*!40000 ALTER TABLE `dishes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_dishes`
--

DROP TABLE IF EXISTS `menu_dishes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_dishes` (
  `menu_id` int(11) NOT NULL,
  `dish_id` int(11) NOT NULL,
  PRIMARY KEY (`menu_id`,`dish_id`),
  KEY `dish_id` (`dish_id`),
  CONSTRAINT `menu_dishes_ibfk_1` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `menu_dishes_ibfk_2` FOREIGN KEY (`dish_id`) REFERENCES `dishes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_dishes`
--

LOCK TABLES `menu_dishes` WRITE;
/*!40000 ALTER TABLE `menu_dishes` DISABLE KEYS */;
INSERT INTO `menu_dishes` (`menu_id`, `dish_id`) VALUES (1,1);
INSERT INTO `menu_dishes` (`menu_id`, `dish_id`) VALUES (1,2);
INSERT INTO `menu_dishes` (`menu_id`, `dish_id`) VALUES (1,3);
/*!40000 ALTER TABLE `menu_dishes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `theme` varchar(50) DEFAULT NULL,
  `regime` varchar(50) DEFAULT NULL,
  `personnes_min` int(11) DEFAULT 1,
  `prix_min` decimal(10,2) NOT NULL,
  `stock_dispo` int(11) DEFAULT 0,
  `actif` tinyint(1) DEFAULT 1,
  `conditions_reservation` text DEFAULT NULL,
  `prix` decimal(10,2) NOT NULL DEFAULT 0.00,
  `min_personnes` int(11) DEFAULT 1,
  `stock` int(11) DEFAULT 0,
  `image_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
INSERT INTO `menus` (`id`, `titre`, `description`, `theme`, `regime`, `personnes_min`, `prix_min`, `stock_dispo`, `actif`, `conditions_reservation`, `prix`, `min_personnes`, `stock`, `image_url`) VALUES (1,'Menu No├½l F├®erique','Un repas de f├¬te inoubliable avec des produits nobles et une touche de magie.','No├½l','Classique',1,0.00,0,1,'Commandez 1 semaine ├á l\'avance pour moins de 20 personnes, 2 semaines pour plus de 20.',72.50,2,50,'/Vite-et-gourmand/interface_frontend/ressources/images/menus/noel.png');
INSERT INTO `menus` (`id`, `titre`, `description`, `theme`, `regime`, `personnes_min`, `prix_min`, `stock_dispo`, `actif`, `conditions_reservation`, `prix`, `min_personnes`, `stock`, `image_url`) VALUES (2,'Menu Nouvel An Prestige','Commencez l\'ann├®e en beaut├® avec notre menu gastronomique d\'exception.','Nouvel An','Classique',1,0.00,0,1,'Commandez 1 semaine ├á l\'avance pour moins de 20 personnes, 2 semaines pour plus de 20.',62.50,2,40,'/Vite-et-gourmand/interface_frontend/ressources/images/menus/valentin.png');
INSERT INTO `menus` (`id`, `titre`, `description`, `theme`, `regime`, `personnes_min`, `prix_min`, `stock_dispo`, `actif`, `conditions_reservation`, `prix`, `min_personnes`, `stock`, `image_url`) VALUES (3,'Menu Saint Valentin Romantique','Un d├«ner en t├¬te-├á-t├¬te pour c├®l├®brer l\'amour avec finesse.','Saint Valentin','Classique',1,0.00,0,1,'Commandez 1 semaine ├á l\'avance pour moins de 20 personnes, 2 semaines pour plus de 20.',77.50,2,100,'/Vite-et-gourmand/interface_frontend/ressources/images/menus/mariage.png');
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) DEFAULT NULL,
  `menu_id` int(11) DEFAULT NULL,
  `quantite` int(11) DEFAULT NULL,
  `prix_unitaire` decimal(10,2) DEFAULT NULL,
  `choices` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_id` (`order_id`),
  KEY `menu_id` (`menu_id`),
  CONSTRAINT `order_items_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE,
  CONSTRAINT `order_items_ibfk_2` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantite`, `prix_unitaire`, `choices`) VALUES (1,1,1,2,45.00,NULL);
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantite`, `prix_unitaire`, `choices`) VALUES (2,2,1,2,45.00,NULL);
INSERT INTO `order_items` (`id`, `order_id`, `menu_id`, `quantite`, `prix_unitaire`, `choices`) VALUES (3,3,1,2,75.00,NULL);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `date_livraison` date DEFAULT NULL,
  `heure_livraison` time DEFAULT NULL,
  `lieu_livraison` varchar(255) DEFAULT NULL,
  `prix_total` decimal(10,2) DEFAULT NULL,
  `statut` varchar(50) DEFAULT 'en_attente',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` (`id`, `user_id`, `date_livraison`, `heure_livraison`, `lieu_livraison`, `prix_total`, `statut`, `created_at`) VALUES (1,1,'2026-02-18',NULL,'Bordeaux',45.00,'terminee','2026-02-18 03:39:34');
INSERT INTO `orders` (`id`, `user_id`, `date_livraison`, `heure_livraison`, `lieu_livraison`, `prix_total`, `statut`, `created_at`) VALUES (2,1,'2026-02-18',NULL,'Bordeaux',45.00,'terminee','2026-02-18 03:39:34');
INSERT INTO `orders` (`id`, `user_id`, `date_livraison`, `heure_livraison`, `lieu_livraison`, `prix_total`, `statut`, `created_at`) VALUES (3,2,'2026-02-18','20:00:00','Bordeaux',150.00,'terminee','2026-02-18 05:19:08');
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `order_id` int(11) NOT NULL,
  `note` int(11) NOT NULL,
  `commentaire` text NOT NULL,
  `valide` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
INSERT INTO `reviews` (`id`, `user_id`, `order_id`, `note`, `commentaire`, `valide`, `created_at`) VALUES (1,1,1,5,'Une exp├®rience inoubliable ! Le service ├®tait parfait et les plats d├®licieux.',1,'2026-02-18 04:39:34');
INSERT INTO `reviews` (`id`, `user_id`, `order_id`, `note`, `commentaire`, `valide`, `created_at`) VALUES (2,1,1,4,'Tr├¿s bon repas, livraison ├á l\'heure. Je recommande.',1,'2026-02-18 04:39:34');
INSERT INTO `reviews` (`id`, `user_id`, `order_id`, `note`, `commentaire`, `valide`, `created_at`) VALUES (3,1,1,5,'Julie et Jos├® sont au top ! Merci pour ce moment.',1,'2026-02-18 04:39:34');
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `libelle` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` (`id`, `libelle`) VALUES (1,'admin');
INSERT INTO `roles` (`id`, `libelle`) VALUES (2,'employe');
INSERT INTO `roles` (`id`, `libelle`) VALUES (3,'utilisateur');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `prenom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `gsm` varchar(20) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `avatar_url` varchar(255) DEFAULT 'https://ui-avatars.com/api/?name=User&background=800020&color=fff',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `gsm`, `adresse`, `password_hash`, `role_id`, `created_at`, `avatar_url`) VALUES (1,'Martin','Sophie','sophie.martin@example.com','0600000000','1 rue de la Paix','password123hash',3,'2026-02-18 03:39:02','https://ui-avatars.com/api/?name=User&background=800020&color=fff');
INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `gsm`, `adresse`, `password_hash`, `role_id`, `created_at`, `avatar_url`) VALUES (2,'L.','Sophie','sophie0@example.com',NULL,NULL,'$2y$10$XIJduafI19ZFv02mSAFlFOGaeN/AVhDeO8ebGncRKcg/0ZDiS.JWW',2,'2026-02-18 05:19:08','https://i.pravatar.cc/150?u=sophie');
INSERT INTO `users` (`id`, `nom`, `prenom`, `email`, `gsm`, `adresse`, `password_hash`, `role_id`, `created_at`, `avatar_url`) VALUES (3,'D.','Marc','marc1@example.com',NULL,NULL,'$2y$10$G6GaEjR0/94ze/w2p9lEDuDaX7Sed7dZUnknrfAceJjwMRZzd.GRC',2,'2026-02-18 05:19:08','https://i.pravatar.cc/150?u=marc');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-18  8:09:28
